
<div class="container">
  <div class="text-center text-white">
    <h1>Art Space</h1>
  </div>

  <div class="row g-3">
    <% @artworks.each do |artwork| %>
      <div class="card col-lg-2 col-md-4 col-sm-6 mx-2" style="width: 18rem;">
        <img class="card-img-top" src="<%= artwork.image_url %>" alt="<%= artwork.title %>">
        <div class="card-body">
          <h2 class="card-title"><%= artwork.title %></h2>
            <p><%= artwork.description %></p>
            <p>Price: <%= artwork.price %></p>
          <%= link_to "Edit", edit_artwork_path(artwork) %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Add new Artwork", new_artwork_path %>
</div>
