
<div class="container">
  <div>
    <%= simple_form_for @artwork do |f| %>
      <%= f.input :photo, as: :file, input_html: { multiple: false } %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :category %>
      <%= f.input :price %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
