
<div class="container">
  <div class="row d-flex align-items-center justify-content-sm-center">

    <%# WRAPPER DIV FOR ART CARD AND BOOKING %>
    <div class="show-page-card-design d-flex justify-content-sm-around
    mt-5 mb-3 col-lg-8 col-md-8 col-sm-8">
      <%= link_to '<', artworks_path, class: 'back-btn-special-show-page' %>
      <div class="show-page-img">
        <%= cl_image_tag @artwork.photo.key, alt: @artwork.description, width: "300" %>
      </div>

      <div class="d-flex align-items-center flex-sm-column">
        <h2 class="mb-3"><%= @artwork.title %></h2>
        <p>
          <strong>Description:</strong>
          <%= @artwork.description %>
        </p>
        <p>
          <strong>Category:</strong>
          <%= @artwork.category %>
        </p>
        <p>
          <strong>Price:</strong>
          $<%= @artwork.price %>
        </p>

        <%= simple_form_for [@artwork, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Create Booking", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <%# END OF WRAPPER %>

  </div>

  <%# MAP %>
  <div class="row d-flex justify-content-lg-center justify-content-lg-center justify-content-lg-center">
    <div class="map-design d-flex col-lg-8 col-md-8 col-sm-8"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <%# MAP END %>
</div>
