<div class="container">
  <div class="row d-flex align-items-center justify-content-sm-center my-4">
    <%# WRAPPER DIV FOR ART CARD AND BOOKING %>
    <div class="d-flex col-6">
      <%= link_to '<', artworks_path, class: 'back-btn-special-show-page' %>
      <%= cl_image_tag @artwork.photo.key, alt: @artwork.description, width: "80%", id: "show-page-img" %>
    </div>
    <%# END OF WRAPPER %>


    <div class="show-page-background d-flex flex-column justify-content-around col-6 p-3">

      <div class="show-page-card-design d-flex align-items-center flex-sm-column flex-grow-1">
        <h2 class="mb-3"><%= @artwork.title %></h2>
        <p>
          <strong><i class="fa-regular fa-file-lines" style="color: #000000;"></i></strong>
          <%= @artwork.description %>
        </p>
        <p>
          <strong><i class="fa-regular fa-file" style="color: #000000;"></i></strong>
          <%= @artwork.category %>
        </p>
        <p>
          $<%= @artwork.price %>
        </p>



    <div class="artwork-show-container mt-5" data-controller="price" data-price-price-value="<%= @artwork.price %>">
      <div class="form-show-page mt-5">
      <div data-price-target="displayPrice"></div>
        <%= simple_form_for [@artwork, @booking] do |f| %>
        <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker",
            datepicker_all_bookings_value: @all_bookings.to_json,
            price_target: "start",
            action: "change->price#setDate"} } %>
        <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker",
            datepicker_all_bookings_value: @all_bookings.to_json,
            price_target: "end",
            action: "change->price#setDate"} } %>
        <%= f.submit "Book", class: "link_btns" %>
        <% end %>
      </div>
      <%# MAP %>
      <div class="map-design"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%# MAP END %>

    </div>
    </div>
  </div>
  </div>
</div>
