<!DOCTYPE html>
<html>
  <head>
    <title><%= @user.first_name %>'s Page</title>
    <!-- Add your CSS stylesheets here -->
  <style>
    header {
      color: black;
      padding: 1rem;
      text-align: center;
    }

    .image-card {
      height: auto;
      width: 18rem;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <header class="">
        <span id="user-name">Hi <%= current_user.first_name %></span>
      </header>

      <h2 class="mb-3">Artworks Booked</h2>
      <div class="index-grid-user-page">
        <% @bookings.each do |booking| %>
          <div class="card hover-card-effect" style="width: 18rem;">
            <%= cl_image_tag booking.artwork.photo.key, alt: booking.artwork.description,
            class: "card-img-top", height: 200, crop: "scale" %>
            <div class="card-body d-flex flex-column justify-content-center">
              <h2 class="card-title"><%= booking.artwork.title %></h2>
              <p><%= booking.artwork.description %></p>
              <p><%= booking.artwork.price %>$</p>
              <p>
                <%= link_to '<i class="fa-regular fa-eye" style="color: #ffffff;"></i>'.html_safe, artwork_path(booking.artwork), id: "view-btn-abs" %>
              </p>
            </div>
          </div>
        <% end %>
      </div>

      <h2 class="mb-3 mt-3">Artworks Rented Out</h2>
      <div class="index-grid-user-page">
        <% @rented_out_artworks.each do |artwork| %>
          <div class="card hover-card-effect" style="width: 18rem;">
            <%= cl_image_tag artwork.photo.key, alt: artwork.description,
              class: "card-img-top", height: 200, crop: "scale" %>
            <div class="card-body d-flex flex-column justify-content-center">
              <h2 class="card-title"><%= artwork.title %></h2>
              <div>
                <% artwork.bookings.each do |booking| %>
                  <p> Booked by : <%= booking.user.first_name %> </p>
                  <p> Booked At : <%= booking.start_date %></p>
                  <p> Total <span id="price-underline">$<%= artwork.price %></span> </p>
                <% end %>
              </div>
              <p>
                <%= link_to '<i class="fa-regular fa-eye" style="color: #ffffff;"></i>'.html_safe, artwork_path(artwork), id: "view-btn-abs" %>
              </p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </body>
</html>
