<nav class="navbar">
  <div class="navbar-left">
    <%= link_to '<i class="fa-solid fa-house" style="color: #000000;"></i>'.html_safe, root_path, class: "login-button" %>
  </div>
  <div class="navbar-right">
    <% if user_signed_in? %>
      <!-- User Avatar Dropdown -->
      <div class="dropdown">
        <%= link_to "+", new_artwork_path, class: "link_btns", id: "create-art-btn-index" %>
        <%= image_tag "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80", class: "avatar dropdown-toggle", id: "navbarAvatarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAvatarDropdown">

          <%# WHEN WE HAVE THE ROUT TO THE USER PAGE ADD IT HERE  %>

          <%# <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Home", root_path, class: "dropdown-item" %>
          <%= link_to "My profile", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Log In", new_user_session_path, class: "login-button" %>
    <% end %>
  </div>
</nav>
