<nav class="navbar">
  <div class="navbar-left">
    <%= link_to "Home", root_path, class: "login-button" %>
  </div>
  <div class="navbar-right">
    <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

      <!-- User Avatar Dropdown -->
      <div class="dropdown">
        <%= link_to "+", new_artwork_path, class: "link_btns", id: "create-art-btn-index" %>
        <%= cl_image_tag(current_user.photo.key, width: 40, height: 40, crop: :fill, gravity: :auto, class: "avatar") %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAvatarDropdown">

          <%# WHEN WE HAVE THE ROUT TO THE USER PAGE ADD IT HERE  %>

          <%# <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Log In", new_user_session_path, class: "login-button" %>
    <% end %>
  </div>
</nav>
